@import "common.css";
.pa {
  position: absolute;
}
.pr {
  position: relative;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
header {
  height: 60px;
  background-color: #000;
}
header nav {
  width: 1424px;
  margin: 0 auto;
}
header nav div {
  float: left;
  padding-left: 30px;
}
header nav div h1 {
  font-size: 14px;
  text-indent: -999px;
}
header nav ul {
  float: right;
  padding-left: 20px;
}
header nav ul li {
  display: inline-block;
  width: 100px;
  text-align: center;
}
header nav ul li a {
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
  color: #fff;
  letter-spacing: -1.5px;
}
header nav ul li div {
  display: none;
}
header nav .nav-icon li a {
  font-size: 0;
  text-indent: -999px;
  background-repeat: no-repeat;
}
header .bg-grid {
  width: 1423px;
  height: 5000px;
  margin: 0 auto;
  top: 0;
  z-index: -1;
}
header .bg-grid .col {
  display: inline-block;
  width: 25%;
  height: 100%;
  margin-left: -6px;
  outline: 1px solid #ddd;
}
#main {
  width: 1424px;
  margin: 0 auto;
}
#main .main-slide {
  margin-left: -8px;
  height: 900px;
}
#main .main-slide h2 {
  font-size: 0;
  text-indent: -999px;
}
#main .main-slide .main-slide-view {
  background-color: #fff;
  height: 600px;
  top: 80px;
}
#main .main-slide .main-slide-view ul li {
  position: relative;
  display: none;
}
#main .main-slide .main-slide-view ul li div {
  height: 605px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#main .main-slide .main-slide-view ul li img {
  width: 100%;
}
#main .main-slide .main-slide-view ul li:first-child {
  display: block;
}
#main .main-slide .main-scroll {
  height: 130px;
  width: 18px;
  margin: 0 auto;
  text-align: center;
}
#main .main-slide .main-scroll img {
  display: inline-block;
  padding-bottom: 10px;
}
#main .main-slide .main-scroll img:first-child {
  position: relative;
  height: 90px;
  top: 140px;
  left: 5px;
  border-left: 2px solid #666;
}
#main .bnboard div {
  display: none;
}
#main .bnboard div.on {
  display: block;
  height: 495px;
  overflow: hidden;
}
#main .bnboard div.on ul {
  padding-top: 40px;
}
#main .bnboard div.on ul li {
  display: inline-block;
  width: 25%;
  margin-left: -6px;
}
#main .bnboard div.on ul li img {
  width: 320px;
  height: 320px;
  margin-top: 10px;
}
#main .bnboard div.on ul li div {
  padding: 0 20px;
  display: block;
  width: 320px;
  height: 123px;
}
#main .bnboard div.on ul li div i {
  display: block;
  vertical-align: top;
  height: 60px;
  color: #7f7f7f;
}
#main .bnboard div.on ul li div p {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  color: #7f7f7f;
  width: 100%;
  line-height: 30px;
  display: block;
  font-size: 14px;
}
#main .bnboard div.on ul li div p::before {
  content: "Ψ";
}
#main .bnboard div.on ul li div a {
  color: #e55a28;
  font-size: 14px;
  line-height: 29px;
  height: 29px;
  display: inline-block;
  border-bottom: 2px solid #f36;
}
#main .bnboard .bnb-btn {
  display: block;
  width: 289px;
  height: 49px;
  margin: 0 auto;
  text-align: center;
}
#main .bnboard .bnb-btn a {
  display: inline-block;
  padding-right: 30px;
}
#main .bnboard .bnb-btn a span {
  font-size: 0;
  text-indent: -999px;
}
#main .newcol {
  padding: 60px 4px;
  text-align: right;
}
#main .newcol img {
  vertical-align: middle;
}
#main .newcol img:first-child {
  padding-right: 80px;
}
#main .algrid {
  width: 100%;
  margin-left: -6px;
  height: 773px;
}
#main .algrid > div {
  display: inline-block;
}
#main .algrid .algrid-left {
  width: 49.9%;
  height: 100%;
}
#main .algrid .algrid-left ul {
  margin-left: -5px;
}
#main .algrid .algrid-left ul li {
  position: relative;
  display: inline-block;
  margin: 10px 5px;
}
#main .algrid .algrid-left ul li img {
  position: absolute;
  z-index: 1;
  top: 120px;
  left: 100px;
}
#main .algrid .algrid-left ul li img:first-child {
  top: -10px;
  left: 0;
  position: relative;
}
#main .algrid .algrid-left ul li.gradation div {
  width: 337px;
  height: 372px;
  position: relative;
  background: linear-gradient(270deg, #18f0b8, #e6376f, #e87f19);
}
#main .algrid .algrid-right {
  left: 3px;
  width: 49.5%;
  height: 100%;
  text-align: center;
}
#main .algrid .algrid-right > img {
  display: inline-block;
  width: 287px;
  height: 35px;
}
#main .algrid .algrid-right .algrid-right-s {
  margin-top: 40px;
  width: 100%;
  height: 330px;
}
#main .algrid .algrid-right .algrid-right-m div {
  vertical-align: top;
  width: 345px;
  height: 348px;
  display: inline-block;
  outline: 1px solid gray;
  margin-left: 7px;
}
#main .algrid .algrid-right .algrid-right-m div:first-child {
  margin-left: 0;
  text-align: right;
}
#main .algrid .algrid-right .algrid-right-m div:first-child img {
  padding: 60px 0 20px;
}
#main .algrid .algrid-right .algrid-right-m div:first-child span {
  display: block;
  line-height: 24px;
  font-size: 14px;
  color: #282829;
}
#main .social-review {
  height: 1035px;
  width: 100%;
  padding-top: 80px;
  margin-left: -5px;
}
#main .social-review > div {
  width: 100%;
}
#main .social-review > div a {
  display: block;
  width: 100%;
  text-align: center;
}
#main .social-review > div a span {
  margin-top: 10px;
  display: block;
  color: #aaa;
}
#main .social-review > div:first-child {
  height: 20px;
  margin-bottom: 80px;
  background-image: url('../image/pattern.gif');
}
#main .social-review h2 {
  display: block;
  width: 100%;
  text-align: center;
}
#main .social-review h2 img {
  display: inline-block;
}
#main .social-review h2 span {
  font-size: 0;
  text-indent: -999px;
}
#main .social-review ul {
  width: 100%;
  height: 762px;
  margin-top: 75px;
  overflow: hidden;
}
#main .social-review ul li {
  display: inline-block;
  width: 24.5%;
}
#main .social-review ul li > img {
  width: 340px;
  height: 328px;
}
#main .social-review ul li div {
  padding: 30px 20px 10px;
}
#main .social-review ul li div p {
  display: block;
  width: 205px;
  font-size: 14px;
  line-height: 22.4px;
  margin-bottom: 20px;
}
#main .social-review ul li div p span {
  display: block;
  color: #e55a28;
  font-size: 14px;
}
#main .social-review ul li div img {
  float: right;
  position: relative;
  top: -100px;
}
#main .social-review ul li div:last-child {
  width: 300px;
  height: 157px;
  border-top: 1px solid #000;
}
#main .social-review ul li div:last-child img {
  top: 0;
  float: left;
  display: inline-block;
  width: 157px;
  height: 157px;
}
#main .social-review ul li div:last-child p {
  width: 140px;
  float: right;
  display: inline-block;
}
#main .social-review ul li div:last-child p span {
  color: #000;
  font-size: 14px;
  line-height: 22.4px;
}
#main .social-review ul li div:last-child p a {
  margin-top: 10px;
  color: #e55a28;
  font-size: 14px;
  line-height: 29px;
  height: 29px;
  display: inline-block;
  border-bottom: 2px solid #f36;
}
#main .ending {
  height: 147px;
  margin: 97px 2px 97px -6px;
  background-color: #eee;
  padding: 40px;
}
#main .ending > div {
  vertical-align: top;
  display: inline-block;
  height: 145px;
  width: 310px;
  border-left: 1px solid #ccc;
}
#main .ending > div cite {
  font-size: 21px;
  font-weight: bold;
  color: #000;
  letter-spacing: -2px;
  line-height: 35px;
}
#main .ending > div ul li {
  margin-top: 14px;
}
#main .ending > div ul li a {
  font-size: 12px;
  color: #999;
}
#main .ending > div ul li span {
  font-size: 12px;
  color: #999;
  float: right;
}
#main .ending > div:first-child {
  border-left: 0;
}
#main .ending .end-sns {
  padding-left: 40px;
}
#main .ending .end-sns ul {
  padding: 30px 0 ;
}
#main .ending .end-sns ul li {
  display: inline-block;
  width: 33px;
  height: 30px;
  background-color: #fff;
  margin-left: 11px;
}
#main .ending .end-sns span {
  font-size: 14px;
  color: #666;
}
#main .ending .end-cs {
  width: 617px;
  padding-left: 40px;
}
#main .ending .end-cs cite {
  display: block;
}
#main .ending .end-cs p {
  vertical-align: middle;
  display: inline-block;
}
#main .ending .end-cs p strong {
  padding: 10px 0 30px 0 ;
  display: block;
  font-size: 28px;
  font-weight: bold;
}
#main .ending .end-cs p span {
  color: #666;
  font-size: 14px;
}
#main .ending .end-cs ul {
  margin-left: 35px;
  display: inline-block;
}
#main .ending .end-cs ul li {
  margin-left: 10px;
  display: inline-block;
  width: 73px;
  height: 98px;
  background-color: #ccc;
}
#main .ending .end-cs ul li a {
  display: block;
  text-align: center;
}
#main .ending .end-cs ul li a img {
  width: 73px;
  height: 73px;
}
#shop {
  display: none;
}
footer {
  position: relative;
  width: 100%;
  height: 267px;
  position: absolute;
  top: 4833px;
  margin: 0 auto;
  background-color: #282829;
}
footer div {
  margin: 0 auto;
  display: block;
  width: 1424px;
}
footer div:first-child {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #999;
}
footer div ul {
  margin: 0 auto;
  display: block;
  width: 1424px;
  height: 51px;
}
footer div ul li {
  line-height: 51px;
  color: #999;
  font-size: 12px;
  display: inline-block;
}
footer div ul li span {
  padding: 0 10px;
  color: #999;
}
