.pa{position: absolute;}
.pr{position: relative;}
.fl{float: left;}
.fr{float: right;}

header{
  height:60px;
  background-color:#000;
  position:relative;
  nav{
    width: 1424px;
    margin: 0 auto;
    div{
      float: left;
      padding-left:30px;
      h1{
        font-size:14px;
        text-indent:-999px;
      }
    }
    .nav{
      ul{
        float: right;
        padding-left:20px;
        li{
          display: inline-block;
          width:100px;
          text-align: center;
          a{
            font-size:18px;
            font-weight: bold;
            line-height: 60px;
            color: #fff;
            letter-spacing:-1.5px;
          }
          div{
            display: none;
            position: absolute;
            top:60px;
            left: 0;
            width: 100%;
            height:0;
            overflow: hidden;
            z-index: 2;
            background-color: #fff;
            text-align:left;
            ul{
              position: relative;
              left:-600px;
              top:30px;
              display: inline-block;
              width:14%;
              height: 394px;
              padding:49px;
              margin-left:30px;
              border:1px solid #000;
              li{
                display: block;
                padding-bottom: 10px;
                line-height: 20px;
                font-size: 16px;
                text-align: left;
                &:first-child{
                  font-size:30px;
                  font-weight: bold;
                  line-height: 34px;
                }
                div{
                  width:194px;
                  font-size: 14px;
                  color:#bbb;
                  font-weight: lighter;
                  line-height:20px;
                  height:66px;
                }
              }
            }
            figure{
              position: relative;
              left:-600px;
              top:-10px;
              display: inline-block;
              width:14%;
              height: 394px;
              padding:49px;
              float:right;
              a{
                img{
                }
              }
            }
          }
        }
      }
      .nav-icon{
        li{
          a{
            font-size:0;
            text-indent:-999px;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
  .bg-grid{
    width:1423px;
    height:auto;
    margin: 0 auto;
    top:0;
    z-index:-1;
    .col{
      display: inline-block;
      width:25%;
      height:100%;
      margin-left:-6px;
      outline:1px solid #ddd;
    }
  }
}

#main{
  width: 1424px;
  margin:0 auto;
  .main-controller{
    top:400px;
    left:20px;
    width: 100%;
    a{
      font-weight: bold;
      color: #222;
      position: absolute;
      font-size:20px;
      letter-spacing:-2px;
      &:last-child{
        right:20px;
      }
      i{
        margin:0 10px;
      }
    }
  }
  .main-slide{
    margin-left:-8px;
    height:900px;
    h2{
      font-size: 0;
      text-indent:-999px;
    }
    .main-slide-btn{
      position: absolute;
      width:100%;
      z-index:1;
      top:380px;
      a{
        position: absolute;
      }
      .main-slide-prev{}
      .main-slide-next{
        right:0;
      }
    }
    .main-slide-view{
      background-color:#fff;
      height:600px;
      top:80px;
      overflow: hidden;
      ul{
        li{
          position: relative;
          display: inline-block;
          div{
            height:605px;
            position: absolute;
            top:0;
            background-color: rgba(0,0,0,.5);
          }
          img{
            width:100%;
          }
          &:first-child{
            display:block;
          }
        }
      }
    }
    .main-scroll{
      height:130px;
      width:18px;
      margin: 0 auto;
      text-align: center;
      img{
        display: inline-block;
        padding-bottom:10px;
        &:first-child{
          position: relative;
          height:90px;
          top:140px;
          left:5px;
          border-left:2px solid #666;
        }
      }
    }
  }
  .bnboard{
    div{
      display: none;
      &.on{
        display: block;
        height:495px;
        overflow: hidden;
        ul{
          padding-top: 40px;
          li{
            display: inline-block;
            width:25%;
            margin-left:-6px;

            img{
              width:320px;
              height: 320px;
              margin-top:10px;
            }
            div{
              padding:0 20px;
              display: block;
              width:320px;
              height:123px;
              i{
                display: block;
                vertical-align: top;
                height: 60px;
                color:rgb(127, 127, 127);
              }
              p{
                border-top:1px solid #999;
                border-bottom: 1px solid #999;
                color:rgb(127, 127, 127);
                width: 100%;
                line-height:30px;
                display: block;
                font-size: 14px;
                &::before{
                  content: "Ψ"
                }
              }
              a{
                .goshop;
                }
            }
          }
        }
      }
    }
    .bnb-btn{
      display: block;
      width:289px;
      height:49px;
      margin: 0 auto;
      text-align: center;
      a{
        display: inline-block;
        padding-right: 30px;
        span{
          font-size:0;
          text-indent:-999px;
        }
      }
    }

  }
  .newcol{
    padding:60px 4px;
    text-align: right;
    img{
      vertical-align: middle;
      &:first-child{
        padding-right:80px;
      }
    }
  }
  .algrid{
    width: 100%;
    margin-left:-6px;
    height: 773px;
    >div{
      display: inline-block;
    }
    .algrid-left{
      width: 49.9%;
      height:100%;
      ul{
        margin-left:-5px;
        li{
          position: relative;
          display: inline-block;
          margin:10px 5px;
          img{
            position: absolute;
            z-index: 1;
            top:120px;
            left: 100px;
            &:first-child{
              top:-10px;
              left: 0;
              position: relative;
            }
          }
          &.gradation{
            width:337px;
            height: 372px;
            overflow: hidden;
            background-color:#ddd;
            div{
              width:3000px;
              height: 372px;
              position: relative;
              left:0;
              background: linear-gradient(270deg, #18f0b8, #e6376f, #e87f19);
            }
          }
        }
      }
    }
    .algrid-right{
      left:3px;
      width: 49.5%;
      height:100%;
      text-align: center;
      >img{
        display: inline-block;
        width: 287px;
        height: 35px;
      }
      div{}
      .algrid-right-s{
        position: relative;
        margin-top:40px;
        width: 100%;
        height: 330px;
        .algrid-right-s-btn{
          position: absolute;
          top:70px;
          a{
            left:70px;
            position: relative;
            &:first-child{
              left:590px;
            }
          }
        }
        .algrid-right-s-view{
          position: relative;
          width: 392px;
          height:270px;
          margin: 0 auto;
          overflow: hidden;
          ul{            
            li{
              position: relative;
              display: inline-block;
              width: 188px;
              height:auto;
              vertical-align: top;
              a{
                position: relative;
                top:0;
                left:0;
                img{
                  width: 188px;
                  height: 188px;
                }
                strong{
                  font-size: 14px;
                  line-height:40px;
                }
                span{
                  font-size: 16px;
                  color: #888;
                  line-height:40px;
                }
              }
            }
          }
        }
      }
      .algrid-right-m{
        div{
          vertical-align: top;
          width: 345px;
          height: 348px;
          display: inline-block;
          margin-left:7px;
          &:first-child{
            margin-left:0;
            text-align: right;
            img{
              padding: 60px 0 20px;
            }
            span{
              display: block;
              line-height:24px;
              font-size:14px;
              color: #282829;
            }

          }
        }
        .algrid-right-m-video{
          background-color:#303;
          video{
            width: 345px;
            height: 348px;
          }
        }
      }
    }
  }
  .social-review{
    height: auto;
    width: 100%;
    padding-top:80px;
    margin-left:-5px;
    >div{
      a{
        display: block;
        width: 100%;
        text-align: center;
        img{}
        span{
          margin-top:10px;
          display: block;
          color: #aaa;
        }
      }
      width: 100%;
      &:first-child{
        height:20px;
        margin-bottom: 80px;
        background-image: url('../image/pattern.gif');
      }
    }
    h2{
      display: block;
      width: 100%;
      text-align: center;
      img{
        display: inline-block;
      }
      span{
        font-size: 0;
        text-indent: -999px;
      }
    }
    ul{
      display: none;
      width: 100%;
      height:auto;
      margin-top: 75px;
      li{
        display: inline-block;
        width:24.5%;
        >img{
          width: 340px;
          height:328px;
        }
        div{
          padding: 30px 20px 10px;
          p{
            display: block;
            width: 205px;
            font-size:14px;
            line-height: 22.4px;
            margin-bottom: 20px;
           span{
             display: block;
             color: #e55a28;
             font-size:14px;
           }
          }
          img{
            float: right;
            position: relative;
            top:-100px;
          }
          &:last-child{
            width: 300px;
            height: 157px;
            border-top:1px solid #000;
            img{
              top:0;
              float: left;
              display: inline-block;
              width: 157px;
              height: 157px;
            }
            p{
              width: 140px;
              float: right;
              display: inline-block;
              span{
                color:#000;
                font-size: 14px;
                line-height: 22.4px;
              }
              a{
                margin-top: 10px;
                .goshop;
              }
            }
          }
        }
      }
    }
  }
  .ending{
    height: 147px;
    margin:97px 2px 97px -6px;
    background-color:#eee;
    padding:40px;
    >div{
      vertical-align: top;
      display: inline-block;
      height: 145px;
      width: 310px;
      border-left:1px solid #ccc;
      cite{
        font-size:21px;
        font-weight: bold;
        color: #000;
        letter-spacing:-2px;
        line-height:35px;
      }
      ul{
        li{
          margin-top: 14px;
          a{
            font-size: 12px;
            color: #999;
          }
          span{
            font-size: 12px;
            color: #999;
            float: right;
          }
        }
      }
      &:first-child{
        border-left:0;
      }
    }
    .end-sns{
      padding-left: 40px;
      ul{
        padding:30px 0 ;
        li{
          display: inline-block;
          width: 33px;
          height: 30px;
          background-color: #fff;
          margin-left: 11px;
        }
      }
      span{
        font-size:14px;
        color: #666;
      }
    }
    .end-cs{
      cite{
        display:block;
      }
      width: 617px;
      padding-left: 40px;
      p{
        vertical-align: middle;
        display: inline-block;
        strong{
          padding:10px 0 30px 0 ;
          display: block;
          font-size:28px;
          font-weight:bold;
        }
        span{
          color: #666;
          font-size: 14px;
        }
      }
      ul{
        margin-left:35px;
        display: inline-block;
        li{
          margin-left: 10px;
          display: inline-block;
          width: 73px;
          height: 98px;
          background-color: #ccc;
          a{
            display: block;
            text-align: center;
            img{
              width:73px;
              height: 73px;
            }
            span{
            }
          }
        }
      }
    }
  }
}

#shop{
  display: none;
}

footer{
  width: 100%;
  height: 267px;
  margin:0 auto;
  background-color: #282829;
  div{
    margin: 0 auto;
    display: block;
    width: 1424px;
    &:first-child{
      position: relative;
      width: 100%;
      border-bottom:1px solid #999;
      }
    ul{
      margin: 0 auto;
      display: block;
      width: 1424px;
      height: 51px;
      li{
        line-height: 51px;
        color: #999;
        font-size: 12px;
        display: inline-block;
        span{
          padding:0 10px;
          color: #999;
        }
      }
    }
  }
}
