@import "common.css";
.pf {
  position: fixed;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
body,
hr {
  background-color: #fafafa;
}
nav {
  border-right: 1px solid #ccc;
  width: 319px;
  height: 100%;
  z-index: 3;
  background-color: #fff;
}
nav .list {
  height: 50px;
  margin: 10px 0 0 90px;
}
nav .list a {
  width: 70px;
  height: 15px;
  display: inline-block;
  font-size: 0;
  text-indent: -999px;
  background-image: url('../image/text.png');
  background-position: 0 -50px;
}
nav .list a:hover {
  background-position: 0 -70px;
}
nav .list a:first-child {
  background-position: 0 0;
}
nav .list a:first-child:hover {
  background-position: 0 -20px;
}
nav .gnb {
  padding-top: 150px;
}
nav .gnb h1 {
  margin: 0 auto;
  display: block;
  width: 300px;
  height: 35px;
  background-image: url('../image/kakao-logo.png');
  background-repeat: no-repeat;
  background-position: center;
}
nav .gnb h1 img {
  display: none;
}
nav .gnb h1 a {
  font-size: 0;
  text-indent: -999px;
}
nav .gnb ul {
  padding-top: 30px;
}
nav .gnb ul li {
  margin: 0 auto;
  width: 107px;
  height: 40px;
  text-align: center;
}
nav .gnb ul li a {
  font-size: 0;
  text-indent: -999px;
  display: block;
  width: 100px;
  height: 40px;
  background-image: url('../image/gnb-img.gif');
}
nav .gnb ul li a:hover {
  background-position-y: -100px;
}
nav .gnb ul li .gnb-1 {
  background-position: 12px -50px;
}
nav .gnb ul li .gnb-2 {
  background-position: -120px -50px;
}
nav .gnb ul li .gnb-3 {
  background-position: -240px -50px;
}
nav .gnb ul li .gnb-4 {
  background-position: -360px -50px;
}
nav .gnb ul li .gnb-5 {
  background-position: -480px -50px;
}
nav .gnb ul li .gnb-6 {
  background-position: -600px -50px;
}
nav footer {
  margin: 0 auto;
  bottom: 0;
  left: 30px;
}
nav footer img {
  border: 1px solid #ccc;
}
nav footer div {
  height: 52px;
}
nav footer div strong {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 16.5px;
  display: inline-block;
  padding-right: 5px;
}
nav footer div span {
  border-left: 1px solid #ccc;
  display: inline-block;
  padding-left: 5px;
  font-size: 11px;
  color: #777;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 16.5px;
}
nav footer div i {
  font-size: 11px;
  color: #777;
  line-height: 16.5px;
}
nav footer select {
  height: 35px;
  width: 260px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #444;
}
section {
  height: 100%;
  background-color: #fff;
  margin-left: 319px;
}
section .left {
  display: inline-block;
  width: 858px;
}
section .left div img {
  width: 858px;
  height: 498px;
}
section .left .l-l {
  position: relative;
  display: inline-block;
  width: 50%;
  z-index: 1;
  top: -2px;
  background-color: #fff;
}
section .left .l-l .news {
  height: 435px;
  border-bottom: 1px solid #ccc;
  display: block;
  width: 355px;
  margin: 0 auto;
}
section .left .l-l .news h2 {
  display: block;
  font-size: 0;
  text-indent: -999px;
  width: 100px;
  height: 28px;
  margin: 30px 0 20px;
  background-image: url('../image/text.png');
  background-position: 0 -140px;
}
section .left .l-l .news a,
section .left .l-l .news div {
  margin-top: 40px;
  height: 157px;
}
section .left .l-l .news a cite,
section .left .l-l .news div cite {
  font-size: 19px;
  font-weight: bold;
  line-height: 28.5px;
  color: #000;
}
section .left .l-l .news a span,
section .left .l-l .news div span {
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  height: 57px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 12px 0 14px 0;
  color: #777;
}
section .left .l-l .news a i,
section .left .l-l .news div i {
  font-size: 11px;
  color: #999;
  line-height: 16.5px;
}
section .left .l-l .stock {
  display: block;
  width: 355px;
  margin: 0 auto;
}
section .left .l-l .stock h2 {
  display: block;
  font-size: 0;
  text-indent: -999px;
  width: 100px;
  height: 28px;
  margin: 30px 0 20px;
  background-image: url('../image/text.png');
  background-position: 0 -170px;
}
section .left .l-l .stock strong {
  display: block;
  width: 355px;
  height: 50px;
  font-size: 50px;
  color: #000;
  margin-bottom: 10px;
}
section .left .l-l .stock span {
  color: #E33131;
  font-weight: bold;
}
section .left .l-l .stock span span {
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../image/ico_corp.png');
  background-position: 0 -1130px;
}
section .left .l-l .stock span i {
  padding-left: 10px;
  font-size: 11px;
  font-weight: normal;
  color: #999;
  float: right;
}
section .left .l-l .kakaoservice {
  display: block;
  width: 100%;
}
section .left .l-l .kakaoservice:hover {
  background-color: #eaeaea;
}
section .left .l-l .kakaoservice a {
  display: block;
  width: 355px;
  margin: 0 auto;
}
section .left .l-l .kakaoservice a img {
  width: 356px;
  height: 280px;
  overflow: hidden;
}
section .left .l-l .kakaoservice a h2 {
  display: block;
  font-size: 0;
  text-indent: -999px;
  width: 100px;
  height: 28px;
  margin: 30px 0 20px;
  background-image: url('../image/text.png');
  background-position: -380px -98px;
}
section .left .l-l .kakaoservice a cite {
  display: block;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  color: #000;
}
section .left .l-l .kakaoservice a span {
  color: #898989;
  font-size: 12px;
}
section .left .l-r {
  position: relative;
  display: inline-block;
  left: 50%;
  top: -1056px;
  z-index: 1;
  width: 50%;
  margin-left: -5px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
section .left .l-r .taxi {
  display: block;
  height: 490px;
}
section .left .l-r .taxi:hover {
  background-color: #eaeaea;
}
section .left .l-r .taxi a {
  padding-top: 30px;
  display: block;
  width: 355px;
  margin: 0 auto;
}
section .left .l-r .taxi a div {
  width: 356px;
  height: 280px;
  overflow: hidden;
}
section .left .l-r .taxi a div img {
  width: 356px;
  height: 280px;
  overflow: hidden;
  transition: .5s;
}
section .left .l-r .taxi a div img:hover {
  -ms-transform: scale(1.2, 1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2, 1.2);
  /* Safari */
  transform: scale(1.2, 1.2);
  /* Standard syntax */
}
section .left .l-r .taxi a h2 {
  display: block;
  font-size: 0;
  text-indent: -999px;
  width: 100px;
  height: 28px;
  margin: 30px 0 20px;
  background-image: url('../image/text.png');
  background-position: 0 -260px;
}
section .left .l-r .taxi a cite {
  display: block;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  color: #000;
}
section .left .l-r .taxi a span {
  color: #898989;
  font-size: 12px;
}
section .left .l-r .branch {
  display: block;
  height: 537px;
}
section .left .l-r .branch:hover {
  background-color: #eaeaea;
}
section .left .l-r .branch a {
  padding-top: 65px;
  display: block;
  width: 355px;
  margin: 0 auto;
}
section .left .l-r .branch a div {
  width: 356px;
  height: 280px;
  overflow: hidden;
}
section .left .l-r .branch a div img {
  width: 356px;
  height: 280px;
  overflow: hidden;
  transition: .5s;
}
section .left .l-r .branch a div img:hover {
  -ms-transform: scale(1.2, 1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2, 1.2);
  /* Safari */
  transform: scale(1.2, 1.2);
  /* Standard syntax */
}
section .left .l-r .branch a h2 {
  display: block;
  font-size: 0;
  text-indent: -999px;
  width: 100px;
  height: 28px;
  margin: 30px 0 20px;
  background-image: url('../image/text.png');
  background-position: 0 -260px;
}
section .left .l-r .branch a cite {
  display: block;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  color: #000;
}
section .left .l-r .branch a span {
  color: #898989;
  font-size: 12px;
}
section .left .l-r .slide {
  display: block;
  width: 355px;
  margin: 0 auto;
  padding-top: 65px;
  position: relative;
}
section .left .l-r .slide .slide-btn {
  position: relative;
  top: 200px;
  z-index: 1;
}
section .left .l-r .slide .slide-btn a {
  font-size: 40px;
  color: #eee;
  font-weight: 400;
  line-height: 50px;
}
section .left .l-r .slide .slide-btn .next {
  position: relative;
  left: 285px;
  color: #eee;
  font-size: 50px;
  color: #fff;
}
section .left .l-r .slide .slide-s {
  position: relative;
  z-index: 2;
  top: 290px;
  left: 150px;
  width: 100px;
  height: 10px;
  display: inline-block;
}
section .left .l-r .slide .slide-s span {
  text-indent: -999px;
  font-size: 0;
  display: inline-block;
  width: 9px;
  height: 3px;
  background-color: #fff;
}
section .left .l-r .slide .slide-s span:first-child {
  width: 15px;
  background-color: #666;
}
section .left .l-r .slide .view {
  overflow: hidden;
  width: 356px;
  height: 444px;
  position: relative;
}
section .left .l-r .slide .view ul li {
  display: inline-block;
}
section .left .l-r .slide .view ul li div {
  background-color: #ddd;
  top: 0;
  left: 0;
  position: absolute;
  display: none;
}
section .left .l-r .slide .view ul li div img {
  width: 356px;
  height: 280px;
}
section .left .l-r .slide .view ul li div q {
  margin-top: 40px;
  display: block;
  height: 164px;
  font-size: 12px;
  text-align: center;
  color: #333;
  line-height: 24px;
}
section .left .l-r .slide .view ul li div q span {
  font-size: 0;
  text-indent: -999px;
}
section .left .l-r .slide .view ul li div q i {
  display: block;
  color: #666;
}
section .left .l-r .slide .view ul li:first-child div {
  display: block;
}
section .right {
  position: relative;
  display: inline-block;
  width: 428px;
  right: 10px;
  vertical-align: top;
  background-color: #fff;
  border-right: 1px solid #ccc;
}
section .right .career {
  width: 428px;
  height: 504px;
}
section .right .career:hover {
  background-color: #eaeaea;
}
section .right .career a {
  display: block;
  width: 355px;
  margin: 0 auto;
  padding-top: 65px;
}
section .right .career a img {
  width: 356px;
  height: 280px;
  overflow: hidden;
}
section .right .career a h2 {
  display: block;
  font-size: 0;
  text-indent: -999px;
  width: 100px;
  height: 28px;
  margin: 30px 0 20px;
  background-image: url('../image/text.png');
  background-position: 0 -290px;
}
section .right .career a cite {
  display: block;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  color: #000;
}
section .right .career a span {
  color: #898989;
  font-size: 12px;
}
section .right .service {
  width: 428px;
  height: 504px;
}
section .right .service:hover {
  background-color: #eaeaea;
}
section .right .service a {
  display: block;
  width: 355px;
  margin: 0 auto;
  padding-top: 65px;
}
section .right .service a div {
  width: 356px;
  height: 280px;
  overflow: hidden;
}
section .right .service a div img {
  width: 356px;
  height: 280px;
  overflow: hidden;
  transition: .5s;
}
section .right .service a div img:hover {
  -ms-transform: scale(1.2, 1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2, 1.2);
  /* Safari */
  transform: scale(1.2, 1.2);
  /* Standard syntax */
}
section .right .service a h2 {
  display: block;
  font-size: 0;
  text-indent: -999px;
  width: 100px;
  height: 28px;
  margin: 30px 0 20px;
  background-image: url('../image/text.png');
  background-position: 0 -290px;
}
section .right .service a cite {
  display: block;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  color: #000;
}
section .right .service a span {
  color: #898989;
  font-size: 12px;
}
section .right .story {
  margin: 0;
  height: 555px;
}
section .right .story a div {
  width: 429px;
  height: 555px;
}
section .right .story a div img {
  position: relative;
  top: -468px;
}
section .right .story a div img:first-child {
  width: 308px;
  height: 468px;
  left: 45px;
  top: 40px;
  z-index: 1;
  transition: .5s;
}
section .right .story a div img:first-child:hover {
  -ms-transform: scale(1.2, 1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2, 1.2);
  /* Safari */
  transform: scale(1.2, 1.2);
  /* Standard syntax */
}
section .right .notice {
  top: 30px;
  position: relative;
  display: block;
  width: 355px;
  margin: 0 auto;
}
section .right .notice h2 {
  display: block;
  font-size: 0;
  text-indent: -999px;
  width: 100px;
  height: 28px;
  margin: 30px 0 20px;
  background-image: url('../image/text.png');
  background-position: 0 -200px;
}
section .right .notice ul {
  height: 221px;
}
section .right .notice ul li {
  display: inline-block;
  height: 24px;
}
section .right .notice ul li a {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #666;
}
section .right .notice ul li a::before {
  content: "³ ";
}
#careers nav {
  height: 59px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
}
#careers nav:hover {
  background-color: #fff;
}
#careers nav:hover header a {
  color: #000;
}
#careers nav:hover a {
  color: #000;
}
#careers nav:hover ul li a {
  color: #000;
}
#careers nav header {
  padding: 0 10px;
  float: left;
  line-height: 59px;
}
#careers nav header a {
  color: #fff;
}
#careers nav ul {
  background-color: none;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#careers nav ul li {
  margin-left: 41px;
  display: inline-block;
}
#careers nav ul li a {
  display: block;
  height: 59px;
  padding: 0 2px;
  line-height: 59px;
  font-weight: bold;
  color: #fff;
}
#careers nav ul li a:hover {
  text-decoration: underline;
}
#careers nav > a {
  padding: 0 10px;
  float: right;
  line-height: 59px;
  color: #fff;
}
#careers section {
  width: 100%;
  height: auto;
  margin: 0;
}
#careers section .main-slide {
  background-color: powderblue;
  width: 100%;
  height: 720px;
}
#careers section .main-slide .slide-btn a {
  position: absolute;
  z-index: 2;
  top: 300px;
  left: 1800px;
  display: inline-block;
  width: 43px;
  height: 43px;
  font-size: 0;
  text-indent: -999px;
  background-image: url('../image/icon.png');
}
#careers section .main-slide .slide-btn a:first-child {
  left: 50px;
}
#careers section .main-slide .slide-view ul li {
  display: inline-block;
}
#careers section .main-slide .slide-view ul li > div {
  display: none;
}
#careers section .main-slide .slide-view ul li > div a {
  z-index: 2;
  position: absolute;
  display: block;
  top: 300px;
  left: 150px;
  width: 497px;
  height: 207px;
}
#careers section .main-slide .slide-view ul li > div a > span {
  font-size: 15px;
  color: #fff;
}
#careers section .main-slide .slide-view ul li > div a strong {
  display: block;
  color: #fff;
  padding: 12px 0 35px;
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 60px;
}
#careers section .main-slide .slide-view ul li > div a i {
  color: #ffdc00;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}
#careers section .main-slide .slide-view ul li > div > span {
  position: absolute;
}
#careers section .main-slide .slide-view ul li > div img {
  width: 100%;
  height: 720px;
}
#careers section .main-slide .slide-view ul li:first-child > div {
  display: block;
}
#careers section .inside {
  width: 100%;
  height: 400px;
}
#careers section .inside ul li {
  width: 33.33%;
  height: 100%;
  display: inline-block;
  position: relative;
  margin-left: -5px;
}
#careers section .inside ul li a {
  width: 100%;
  background-color: #FFD6B5;
  display: block;
  text-align: center;
}
#careers section .inside ul li a > span {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 15px;
  font-weight: bold;
  z-index: 1;
}
#careers section .inside ul li a img {
  display: inline-block;
  width: 400px;
}
#careers section .inside ul li a > div {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #fff;
}
#careers section .inside ul li a > div strong {
  position: absolute;
  top: 140px;
  left: 280px;
  font-size: 100px;
}
#careers section .inside ul li a > div > span {
  position: absolute;
  display: block;
  top: 120px;
  width: 200px;
  left: 240px;
  height: 100px;
  text-align: center;
  padding: 0 20px;
  line-height: 47px;
  font-size: 30px;
}
#careers section .inside ul li:last-child a div {
  background-color: #ddd;
}
#careers footer {
  width: 100%;
  height: 60px;
  padding: 15px 0;
}
#careers footer strong {
  padding-left: 20px;
  color: #1e1e1e;
  font-size: 11px;
  line-height: 20px;
  font-weight: bold;
}
#careers footer span {
  color: #1e1e1e;
  font-size: 11px;
  line-height: 20px;
}
#careers footer i {
  padding-left: 20px;
  color: #333;
  font-size: 11px;
  line-height: 20px;
}
#sub-page header {
  height: 84px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid #F9E000;
}
#sub-page header nav {
  width: 960px;
  margin: 0 auto;
}
#sub-page header nav ul {
  float: left;
}
#sub-page header nav ul li {
  display: inline-block;
  padding-top: 40px;
  width: 73px;
}
#sub-page header nav ul li a {
  border-left: 1px solid #ddd;
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: #666;
  padding-left: 10px;
}
#sub-page header nav .right {
  float: right;
  height: 84px;
}
#sub-page header nav .right > a {
  float: right;
  display: block;
  height: 18px;
  margin-top: 7px;
  padding: 1px 5px;
  border: 1px solid #ddd;
  border-radius: 2px 2px;
  font-size: 12px;
  color: #aaa;
  line-height: 18px;
}
#sub-page header nav .right select {
  position: relative;
  left: 50px;
  width: 120px;
  height: 24px;
  padding-left: 8px;
  vertical-align: top;
  margin-top: 35px;
  font-size: 12px;
  color: #aaa;
}
#sub-page header nav .logo {
  float: left;
  margin-left: 10px;
}
#sub-page header nav .logo a {
  vertical-align: middle;
  padding-top: 30px;
  display: inline-block;
}
#sub-page header nav .logo a h1 {
  font-size: 0;
  text-indent: -999px;
}
#sub-page header nav .logo a:last-child {
  width: 75px;
  margin-left: 46px;
}
#sub-page header nav .logo a:last-child strong {
  font-size: 16px;
  font-weight: bold;
  color: #444;
  line-height: 30px;
}
#sub-page section {
  width: 960px;
  margin: 84px auto;
  padding-top: 14px;
}
#sub-page section .header {
  border: 1px solid #ddd;
  border-radius: 2px 2px;
  width: 960px;
  height: 62px;
  margin-bottom: 14px;
}
#sub-page section .header h2 {
  float: left;
  margin: 9px 0 0 10px;
  font-size: 0;
  text-indent: -999px;
  display: block;
  width: 188px;
  height: 44px;
  background-image: url('../image/sub-page/taxi-common.png');
}
#sub-page section .header a {
  display: block;
  width: 138px;
  height: 42px;
  background-image: url('../image/sub-page/sec-btns.png');
  background-position: 0 0 ;
  float: right;
  margin: 10px 6px 0 0;
}
#sub-page section .header a:last-child {
  background-position: -144px 0;
}
#sub-page section .intro {
  width: 958px;
  height: 469px;
  background-image: url('../image/sub-page/taxi-intro.png');
}
#sub-page section .intro cite {
  font-size: 0;
  text-indent: -999px;
}
#sub-page section .intro-1 {
  width: 420px;
  height: 236px;
  padding: 272px 0 0 538px;
  position: relative;
  top: -200px;
  background-color: #fff;
  background-image: url(../image/sub-page/taxi-simple.png);
  background-repeat: no-repeat;
  background-position: 40px 20px;
}
#sub-page section .intro-1 span {
  display: block;
  font-size: 22px;
  margin-bottom: 25px;
}
#sub-page section .intro-1 span strong {
  font-weight: bold;
}
#sub-page section .intro-1 p {
  color: #b1b1b1;
  font-size: 16px;
  line-height: 24px;
}
#sub-page section .every {
  position: relative;
  top: -200px;
  background-color: #f7f7f7;
  width: 788px;
  height: 225px;
  padding: 132px 0 0 170px;
}
#sub-page section .every i {
  position: relative;
  top: -300px;
  right: 50px;
  float: right;
  display: block;
  width: 255px;
  height: 427px;
  background-image: url('../image/sub-page/taxi-anywhere.png');
  background-repeat: no-repeat;
}
#sub-page section .every span {
  display: block;
  font-size: 22px;
  margin-bottom: 25px;
}
#sub-page section .every span strong {
  font-weight: bold;
}
#sub-page section .every p {
  color: #b1b1b1;
  font-size: 16px;
  line-height: 24px;
}
#sub-page section .every1 {
  width: 387px;
  height: 289px;
  padding: 199px 0 0 571px;
  position: relative;
  top: -200px;
}
#sub-page section .every1 span {
  display: inline-block;
  width: 305px;
  height: 30px;
}
#sub-page section .every1 strong {
  width: 100px;
  height: 20px;
  display: inline-block;
  float: right;
}
#sub-page section .every1 span {
  display: block;
  font-size: 22px;
  margin-bottom: 25px;
}
#sub-page section .every1 span strong {
  font-weight: bold;
}
#sub-page section .every1 p {
  color: #b1b1b1;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
  body,
  html {
    width: 100%;
    height: auto;
    border: 0;
  }
  nav {
    width: 100%;
    height: 60px;
    background-color: yellow;
  }
  nav div {
    display: none;
  }
  nav .gnb {
    display: block;
  }
  nav .gnb h1 {
    position: relative;
    top: -145px;
    left: 30px;
    background-image: none;
  }
  nav .gnb h1 a img {
    float: right;
    width: 50px;
    height: 50px;
    display: block;
  }
  nav .gnb ul {
    position: relative;
    z-index: 2;
    top: -583px;
    left: 135px;
    transition: .5s;
  }
  nav footer {
    display: none;
  }
  section {
    margin: 0;
    width: 100%;
  }
  section article {
    width: 100%;
    display: block;
  }
  section .left {
    width: 100%;
  }
  section .left > div:first-child {
    width: 100%;
  }
  section .left > div:first-child img {
    width: 100%;
  }
  section .left .l-l {
    display: block;
    width: 100%;
    border: 0;
  }
  section .left .l-r {
    display: block;
    left: 0;
    top: 0;
    border: 0;
    width: 100%;
  }
  section .left .l-r > div {
    width: 100%;
  }
}
