@import "common.css";
.fl {
  float: left;
}
.fr {
  float: right;
}
.fcr {
  clear: right;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
header {
  background-color: #99CCCC;
  height: 70px;
}
header > div {
  width: 1200px;
  margin: 0 auto;
}
header > div .logo img {
  width: 170px;
  height: 40px;
  padding: 15px 20px;
}
header > div .logo h1 {
  font-size: 0;
  text-indent: -999px;
}
header > div .sns {
  margin: 20px 20px;
}
header > div .sns ul li {
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: inline-block;
}
header > div .search input {
  width: 120px;
  height: 22px;
  margin: 20px;
  padding: 5px 28px 5px 5px;
  border: 1px solid #fff;
  border-radius: 3px;
}
header > div .search i {
  position: relative;
  right: 50px;
}
header > div .search i::before {
  content: "옹";
}
nav {
  height: 60px;
  background-color: #fff;
}
nav ul {
  height: 60px;
  width: 1200px;
  margin: 0 auto;
  display: block;
}
nav ul li {
  position: relative;
  left: -200px;
  display: inline-block;
}
nav ul li a {
  line-height: 60px;
  padding: 0 20px;
  font-size: 14px;
  color: #99CCCC;
  font-weight: 600;
}
nav ul li a:hover {
  color: #0099CC;
}
nav ul li.on {
  background-color: #0099CC;
}
nav ul li.on a {
  color: #fff;
}
section .slide {
  width: 100%;
  height: 600px;
  background-color: powderblue;
}
section .slide .slide-btn {
  width: 100%;
  z-index: 1;
  top: 410px;
}
section .slide .slide-btn a {
  font-size: 0;
  text-indent: -999px;
  display: block;
  width: 40px;
  height: 40px;
}
section .slide .slide-btn .next {
  background-image: url('../image/slide-right.png');
  right: 20px;
}
section .slide .slide-btn .prev {
  background-image: url('../image/slide-prev.png');
  left: 20px;
}
section .slide .slide-view {
  height: 600px;
  overflow: hidden;
}
section .slide .slide-view ul li {
  position: absolute;
  display: inline-block;
}
section .slide .slide-view ul li div {
  position: relative;
  display: none;
}
section .slide .slide-view ul li.on div {
  display: block;
}
section .slide .slide-view ul li.on div img:last-child {
  position: absolute;
  top: 150px;
  left: 150px;
}
section .artists {
  width: 1200px;
  margin: 0 auto;
}
section .artists h2 {
  padding: 20px 0;
  font-size: 24px;
  color: #99cccc;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
}
section .artists span {
  font-size: 14px;
}
section .artists i {
  vertical-align: middle;
  display: inline-block;
  width: 956px;
  height: 14px;
  background-image: url('../image/pattern.png');
}
section .artists > div {
  width: 1200px;
  height: 200px;
  background-color: #99CCCC;
  margin-bottom: 40px;
}
section .artists > div .artists-btn {
  width: 1200px;
}
section .artists > div .artists-btn a {
  top: 70px;
  display: block;
  width: 25px;
  height: 50px;
  background-size: 25px 50px;
  background-repeat: no-repeat;
  font-size: 0;
  text-indent: -999px;
}
section .artists > div .artists-btn .artists-btn-next {
  right: 8px;
  background-image: url('../image/next.png');
}
section .artists > div .artists-btn .artists-btn-prev {
  left: 8px;
  background-image: url('../image/prev.png');
}
section .artists > div .artists-view {
  width: 1105px;
  height: 200px;
  margin: 0 auto;
  background-color: #99CCCC;
  overflow: hidden;
}
section .artists > div .artists-view ul li {
  display: inline-block;
  margin-left: -6px;
}
section .artists > div .artists-view ul li div {
  width: 370px;
  height: 200px;
  overflow: hidden;
  background-size: 370px;
  background-position: center;
  transition: .4s;
}
section .artists > div .artists-view ul li div h2 {
  font-size: 0;
}
section .artists > div .artists-view ul li div cite {
  font-size: 0;
}
section .artists > div .artists-view ul li div a {
  display: block;
  width: 200px;
  height: 200px;
}
section .artists > div .artists-view ul li div a:hover {
  display: table-cell;
  vertical-align: middle;
  color: #0099CC;
  font-size: 22px;
}
section .artists > div .artists-view ul li div a:hover background-color:rgba(255,255,255,0.5) h2 {
  font-weight: 700;
}
section .artists > div .artists-view ul li div a:hover cite {
  font-weight: 400;
}
section .releases {
  width: 1200px;
  margin: 0 auto;
}
section .releases h2 {
  padding: 20px 0;
  font-size: 24px;
  color: #99cccc;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
}
section .releases span {
  font-size: 14px;
}
section .releases i {
  vertical-align: middle;
  display: inline-block;
  width: 943px;
  height: 14px;
  background-image: url('../image/pattern.png');
}
section .releases .releases-super-grid {
  width: 1210px;
  margin-bottom: 174px;
  height: auto;
}
section .releases .releases-super-grid > div {
  width: 100%;
  text-align: center;
}
section .releases .releases-super-grid > div a {
  width: 50px;
  height: 50px;
  font-weight: bold;
}
section .releases .releases-super-grid > div a span {
  font-size: 20px;
  color: #999;
  line-height: 40px;
  display: block;
}
section .releases .releases-super-grid ul {
  display: none;
}
section .releases .releases-super-grid ul li {
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-color: #ddd;
  outline: 1px solid gray;
  margin-left: -5px;
  padding: 0;
  vertical-align: middle;
}
section .releases .releases-super-grid ul li div span {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: #fff;
  padding-top: 60px;
  background-color: #99cccc;
}
section .releases .releases-super-grid ul li div img {
  width: 200px;
  height: 200px;
}
section .releases .releases-super-grid .super-grid-1 {
  display: block;
}
footer {
  height: 114px;
  width: 100%;
  background-color: #ddd;
  position: fixed;
  bottom: 0;
}
footer div {
  bottom: 125px;
  right: 11px;
  width: 40px;
  height: 40px;
  background-color: #99CCCC;
  background-image: url('../image/flying-top.png');
}
footer div a {
  font-size: 0;
  text-indent: -999px;
}
footer ul {
  width: 1200px;
  height: 114px;
  margin: 0 auto;
  padding-top: 40px;
}
footer ul li {
  width: 360px;
  display: inline-block;
  text-align: right;
}
footer ul li span {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  line-height: 20px;
}
footer ul li i {
  color: #fff;
  font-size: 12px;
}
