@import "common.css";
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
header {
  position: relative;
  padding-top: 14px;
  height: 46px;
  background-color: #000;
}
header .logo {
  margin-left: 401px;
  display: inline-block;
}
header .logo h1 {
  font-size: 0;
  text-indent: -999px;
}
header .topSearch {
  display: inline-block;
  right: 170px;
}
header .topSearch input {
  display: none;
}
header .topSearch label {
  font-size: 0;
  text-indent: -999px;
}
header .topSearch a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: -5px;
  background-image: url('../image/search.png');
  background-position: center;
  background-repeat: no-repeat;
}
header .lang {
  margin-right: 401px ;
  display: inline-block;
}
header .lang select {
  font-weight: 600;
  height: 27px;
  width: 95px;
  border: 0;
  color: #fafafa;
  font-size: 14px;
  background-color: #666;
}
header .lang select option {
  line-height: 22px;
  color: #fff;
}
header nav {
  display: inline-block;
  margin: 5px 0 10px 0;
}
header nav a {
  font-size: 0;
  text-indent: -999px;
}
header nav .menu-wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height: auto;
  overflow: hidden;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: #000;
}
header nav .menu-wrapper > div {
  padding-top: 135px;
  width: 1100px;
  height: auto;
  margin: 0 auto;
}
header nav .menu-wrapper > div > a {
  display: block;
  width: 66px;
  height: 66px;
  float: right;
  position: relative;
  top: -80px;
  left: -40px;
}
header nav .menu-wrapper > div > a img {
  float: right;
}
header nav .menu-wrapper > div > div {
  width: 1020px;
  margin: 0 auto;
}
header nav .menu-wrapper > div > div cite {
  display: block;
  width: 170px;
  height: 43px;
  font-size: 0;
}
header nav .menu-wrapper > div > div div {
  background-color: #fff;
  padding: 30px 40px 22px;
  margin-bottom: 50px;
  height: auto;
}
header nav .menu-wrapper > div > div div dl {
  display: inline-block;
  margin-bottom: 43px;
  margin-left: 6px;
  width: 140px;
  vertical-align: top;
}
header nav .menu-wrapper > div > div div dl dt {
  color: #a50034;
  font-size: 18px;
  padding-bottom: 16px;
  font-weight: bold;
}
header nav .menu-wrapper > div > div div dl dd {
  border-top: 1px solid #ccc;
}
header nav .menu-wrapper > div > div div dl dd a {
  line-height: 40px;
  font-size: 14px;
  color: #333;
}
header nav .menu-wrapper > div > div div dl dd:nth-child(2) {
  border: 0;
}
#main {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#main .bg-slide {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
#main .bg-slide .bg-slide-btn {
  position: absolute;
  top: 830px;
  left: 900px;
  z-index: 2;
  width: 400px;
  height: 40px;
  bottom: 300px;
}
#main .bg-slide .bg-slide-btn a {
  position: relative;
  z-index: 2;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -999px;
  display: inline-block;
  background-image: url('../image/slide-select.png');
  background-repeat: no-repeat;
}
#main .bg-slide .bg-slide-btn .sp {
  position: relative;
  right: 400px;
  background-image: url('../image/slide-pause.png');
}
#main .bg-slide .bg-slide-view {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#main .bg-slide .bg-slide-view ul {
  width: 100%;
  height: 100%;
}
#main .bg-slide .bg-slide-view ul li {
  width: 100%;
  height: 100%;
  position: relative;
}
#main .bg-slide .bg-slide-view ul li display:none > div {
  top: 0;
  left: 0;
  position: absolute;
}
#main .bg-slide .bg-slide-view ul li display:none > div img {
  width: 100%;
  height: 100%;
}
#main .hover-ef ul li {
  display: inline-block;
  position: relative;
  top: 300px;
  left: 400px;
  padding-left: 100px;
}
#main .hover-ef ul li a {
  z-index: 1;
  font-size: 0;
  text-indent: -999px;
}
#main .hover-ef ul li a > div {
  display: none;
  position: absolute;
  left: 1050px;
  top: -200px;
}
footer {
  width: 60%;
  height: 96px;
  padding: 0 20%;
  padding-top: 28px;
  background-color: #444;
  bottom: -120px;
}
footer ul li {
  color: #eee;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-shadow: 1px 1px #666;
}
footer ul li a {
  display: inline-block;
  margin: 10px 10px;
  padding-right: 22px;
  line-height: 16px;
  color: #eee;
  font-size: 14px;
  font-weight: 600;
  border-right: 1px solid #ddd;
  text-shadow: 1px 1px #666;
}
footer div {
  top: -65px;
  left: 950px;
  width: 400px;
}
footer div img {
  vertical-align: middle;
  display: inline-block;
}
footer div a {
  margin-left: 10px;
  padding-left: 15px;
  vertical-align: middle;
  display: inline-block;
  color: #666;
  width: 220px;
  line-height: 38px;
  background-color: #fafafa;
  background-image: url('../image/btn-up.gif');
  background-repeat: no-repeat;
  background-position: right;
}
footer div div {
  display: none;
}
